package ${package};

import org.mybatis.spring.annotation.MapperScan;
import org.springframework.boot.SpringApplication;
import org.springframework.boot.autoconfigure.SpringBootApplication;

/**
 * <p>
 *  App 启动入口
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@SpringBootApplication
@MapperScan("${package}.${packageConfig.mapper}")
public class App
{
    public static void main( String[] args )
    {
        System.out.println( "Hello World!" );
        SpringApplication.run(App.class,args);
    }
}
