package ${package}.${packageConfig.current};
import com.baomidou.mybatisplus.annotation.IdType;
import com.baomidou.mybatisplus.annotation.TableId;
import com.baomidou.mybatisplus.extension.activerecord.Model;

import java.util.Date;
import com.baomidou.mybatisplus.annotation.TableName;
import lombok.Data;
import lombok.EqualsAndHashCode;
import lombok.experimental.Accessors;

/**
 * <p>
 * $!{table.comment}
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
#if($lombok==true)
@Data
@EqualsAndHashCode(callSuper = true)
@Accessors(chain = true)
#end
@TableName(value ="${table.tableName}")
#if(${superEntityClass})
public class ${table.entityName} extends ${superEntityClass}
#else
public class ${table.entityName} extends Model<${table.entityName}>
#end
{
    private static final long serialVersionUID = 1L;


#foreach($field in ${table.fields})

    #if($field.comment)
    /**
     * <br>
     * ${field.comment}
     */
    #end
    #if($field.primaryKey==true && $field.auto==false)
    @TableId
    #elseif($field.primaryKey==true && $field.auto==true)
    @TableId(type = IdType.AUTO)
    #end
    private ${field.javaType} ${field.name};

    #end

#if($lombok==false)
#foreach($field in ${table.fields})
    public void ${field.setName}(${field.javaType} ${field.name})
    {
        this.${field.name}=${field.name};
    }

    public ${field.javaType} ${field.getName}()
    {
        return this.${field.name};
    }


#end
#end
}