package ${package}.${packageConfig.current};

import ${package}.${packageConfig.entity}.${table.entityName};
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import org.apache.ibatis.annotations.Param;
import java.util.List;
import java.util.Map;
/**
 * <p>
 * $!{table.comment} Mapper 接口
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
public interface ${table.mapperName} extends BaseMapper<${table.entityName}> {
    List<${table.entityName}> findList(@Param("map") Map<String,Object> map,@Param("page") Page<${table.entityName}> page);
}
